.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.primary {
    background: var(--primary);
    color: var(--white);
    transition: background 0.5s ease 0s;
}

.primary:hover {
    background: var(--primary-hover);
}

.ghost {
    background: none;
    color: var(--black);
    border: 1px solid var(--gray-lite);
    transition: background 0.5s ease 0s;
}

.ghost:hover {
    background: var(--green-lite-hover);
}

.arrow {
    display: inline-block;
    margin-left: 10px;
}

.down {
    transform: rotate(90deg);
    transition: all 0.5s ease 0s;
}

.primary svg,
.ghost:hover svg {
    fill: var(--white);
}

.right {
}
